.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.redText{
  color: red;
  font-weight:bolder;
}
.greenText{
  color: green;
}
.yellow{
  background-color:yellow;
  color: violet;
}
.green{
  background-color: green;
  color:red;
}
.orange{
  background-color: orange;
  color: paleturquoise;
}
button{
  width: 150px;
  height: 35px;
  margin: 10px;
}

.brown{
  background-color: brown;
  color:wheat;
}
.beige{
  background-color: beige;
  color: brown;
}

.toggle-button{
background-color: teal;
font-weight: bold;
}

.normal-button{
background-color: coral;
}